/*eslint-disable*/
var defaults = {
  MONGOLAB_URI : '{{mongodbUrl}}',
  clientDebug: '*,-socket.io-client*,-engine.io-client:*,-socket.io-parser*',
  serverDebug: '*,-babel,-express*,-socket.io*,-engine*,-connect*,-morgan,-Fluxible*,-send,-eslint*',
  PUBLIC_PATH: '/dist',
  PUBLIC_ASSET_DOMAIN: 'localhost:3000',
  WEBPACK_DEV_SERVER_PORT: 3002,
  DEVELOPMENT_PORT: 3030,
  BROWSERSYNC_PORT: 3000,
  BROWSER_RELOAD_TIMEOUT: 4000,
  HOSTNAME: 'localhost',
  PROTOCOL: 'http://',
  BABEL_STAGE: 0,
  NODE_ENV: 'development',
  DEBUG: '*,-babel,-express*,-socket.io*,-engine*,-connect*,-morgan,-Fluxible*,-send,-eslint*',
  JS_PATH: 'client.js',
  CSS_PATH: 'main.css',
  AWS_KEY : '',
  AWS_SECRET : '',
  AWS_BUCKET : '',
  SESSION_KEY: '',
  SESSION_SECRET: '',
  CLOUD_NAME: '',
  CLOUD_API_KEY: '',
  CLOUD_SECRET: '',
  GOOGLE_CLIENT_ID: '',
  GOOGLE_CLIENT_SECRET: '',
  GOOGLE_CALLBACK_URL: '',
  FACEBOOK_CLIENT_ID: '',
  FACEBOOK_CLIENT_SECRET: '',
  FACEBOOK_CALLBACK_URL: ''
  TWITTER_CLIENT_ID: '',
  TWITTER_CLIENT_SECRET: '',
  TWITTER_CALLBACK_URL: '',
  GOOGLE_MAILER_CLIENT_ID: '',
  GOOGLE_MAILER_CLIENT_SECRET: '',
  GOOGLE_OAUTH_REFRESH_TOKEN: '',
  GOOGLE_OAUTH_ACCESS_TOKEN: ''
};

// For deployment


// Override defaults with environment variables
if (process && process.env) {
  Object.keys(defaults).map(function(key) {
    defaults[key] = process.env[key] || defaults[key]
  });
}

module.exports = defaults;
/*eslint-enable*/
